﻿
 <!-- Content Row -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Categorias
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Papeleria.Core.Contador.ObtenerInstancia().categoriasCont</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-boxes"></i>                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Productos
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Papeleria.Core.Contador.ObtenerInstancia().productosCont</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-pencil-ruler"></i>                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Ventas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Papeleria.Core.Contador.ObtenerInstancia().ventasCont</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                            Facturas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Papeleria.Core.Contador.ObtenerInstancia().facturasCont</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-print"></i>                    </div>
                </div>
            </div>
        </div>
    </div>




</div>



<div class="row">


    <div class="col-lg-6 mb-4">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bienvenida</h6>
            </div>
            <div class="card-body">
                <div class="text-center">

                </div>
                <p>
                    Sistema de cajero automatico para la matería de programación avanzada
                </p>

            </div>
        </div>
    </div>


</div>

