﻿@model Papeleria.Models.ReciboDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReciboDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recibo.ReciboId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recibo.ReciboId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
