﻿@model Papeleria.Models.Recibo
@using Papeleria.Models
@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h4>Crear recibo</h4>
                    <div class="text-dark-50 small">Introduce el código de barras del producto para agregarlo a la lista</div>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/Productos">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small shadow" style="background:white !important" placeholder="Codigo de barras"
                                   aria-label="Search" aria-describedby="basic-addon2" id="codigoBarras">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="agregarDetalle">
                                    <i class="far fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <br />
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table" id="tablaDetalles">
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio unitario
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Eliminar
                        </th>
                    </tr>




                    @foreach (var item in ((List<ReciboDetalle>)Session["Carrito"]))
                    {
                        <tr id="@("P"+item.ProductoId)">
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Titulo)
                            </td>
                            <td>
                                <p style="display:inline-block">
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </p>

                                <button type="button" onclick="incrementar(@item.ProductoId)">+</button>
                                <button type="button" onclick="decrementar(@item.ProductoId)">-</button>
                            </td>
                            <td>
                                <p style="display:inline-block"> @Html.DisplayFor(modelItem => item.Producto.Precio)</p>$
                            </td>
                            <td>
                                <p style="display:inline-block">0</p>$
                            </td>
                            <td>
                                <button type="button" id="eliminarP" onclick="eliminar(@item.ProductoId)">ELIMINAR</button>
                            </td>

                        </tr>
                    }

                </table>
            </div>
        </div>


        <script>

            function calculaTotales() {
                var i = 1;
                var subtotal = 0;
                var total = 0;
                var iva = 0;
                $('#tablaDetalles tr').each(function () {
                    if (i != 1) {
                        var Ccantidad = parseFloat($('#tablaDetalles tr:nth-child(' + i + ') td:nth-child(2) p').text().trim());
                        var Cprecio = parseFloat($('#tablaDetalles tr:nth-child(' + i + ') td:nth-child(3) p').text().trim());
                        var Ctotal = Ccantidad * Cprecio;
                        $('#tablaDetalles tr:nth-child(' + i + ') td:nth-child(4) p').html(Ctotal);
                        console.log("Fila #" + i + " con un total " + Ctotal);

                        subtotal = subtotal + Ctotal;
                    }
                    i++;
                });
                iva = (subtotal * 0.16);
                $('#iva b').html(iva);
                total = iva + subtotal;
                $('#subTotal b').html(subtotal);
                $('#total b').html(total);

            }


            function eliminar(vUsername) {
                console.log(vUsername)
                $.ajax({
                    url: '/Recibos/EliminarDetalle',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        ProductoId: encodeURIComponent(vUsername),
                        cache: false,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        }
                    }
                }).done(function (result) {
                    $('#P' + vUsername).remove();
                    calculaTotales();
                })
            }
            function incrementar(id) {
                $.ajax({
                    url: '/Recibos/IncrementarDetalle',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        ProductoId: encodeURIComponent(id),
                        cache: false,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        }
                    }
                }).done(function (result) {
                    $('#P' + id + " td:nth-child(2) p").html(result.cantidad);
                    calculaTotales();
                })
            }
            function decrementar(id) {
                $.ajax({
                    url: '/Recibos/DecrementarDetalle',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        ProductoId: encodeURIComponent(id),
                        cache: false,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        }
                    }
                }).done(function (result) {
                    if (result.cantidad == "0") {
                        $('#P' + id).remove();
                    } else {
                        $('#P' + id + " td:nth-child(2) p").html(result.cantidad);
                    }
                    calculaTotales();
                })
            }

            $(document).ready(function () {
                $('#agregarDetalle').click(function () {

                    var codigo = $('#codigoBarras').val();

                    $.ajax({
                        url: '/Recibos/AgregarDetalle',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            Codigo: encodeURIComponent(codigo),
                            cache: false,
                            success: function (result) {

                            },
                            error: function (xhr, ajaxOptions, thrownError) {

                            }
                        }

                    }).done(function (result) {
                        if (result.existe != "si") {
                            $('#tablaDetalles tr:last').after('<tr id="P' + result.ProductoId + '"> <td>' + result.Titulo + '</td> <td><p style="display:inline-block">1</p> <button class=" btn btn-success" type="button" onclick="incrementar(' + result.ProductoId + ')">+</button><button type="button" class=" btn btn-danger" onclick="decrementar(' + result.ProductoId + ')">-</button></td><td><p style="display:inline-block">' + result.Precio + '</p>$</td><td><p style="display:inline-block">' + result.Precio + '</p>$</td><td><button type="button" id="eliminarP" class="btn btn-danger"onclick="eliminar(' + result.ProductoId + ')">ELIMINAR</button></td></tr>');
                        }
                        calculaTotales();
                    })
                });
                
            });


        </script>
        <div class="card bg-primary text-white shadow col-4">
            <div class="card-body">

                <h6 id="subTotal" >SubTotal: <b>0</b>$</h6>
                <h6 id="iva">IVA(16%): <b>0</b>$</h6>
                <h6 id="total">Total: <b>0</b>$</h6>


                <input type="submit" value="Crear recibo" class="btn btn-success" />


            </div>

        </div>

    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
