﻿@model Papeleria.Models.Recibo
@using Papeleria.Models
@{
    ViewBag.Title = "Details";
}


 
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Encabezado del recibo</h6>

        </div>
        <!-- Card Body -->
        <div class="card-body">

            <div>
                
           
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Total)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SubTotal)
                    </dd>

                </dl>
            </div>

 
        </div>
    </div>
 
    <div class="card shadow  ">
         
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Detalles del recibo</h6>
        </div>
       
        <div class="card-body">
 


            <table class="table" id="tablaDetalles">
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio unitario
                    </th>
                    <th>
                        Precio
                    </th>

                </tr>


                @foreach (var item in ((List<ReciboDetalle>)ViewBag.Detalles))
                {
                    <tr id="@("P"+item.ProductoId)">
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Titulo)
                        </td>
                        <td>
                            <p style="display:inline-block">
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </p>
                        </td>
                        <td>
                            <p style="display:inline-block"> @Html.DisplayFor(modelItem => item.Producto.Precio)</p>$
                        </td>
                        <td>
                            <p style="display:inline-block">0</p>$
                        </td>


                    </tr>
                }



            </table>
        </div>
    </div>
 


<script>
    $(document).ready(function () {
        calculaTotales();

    })
    function calculaTotales() {
        var i = 1;
        var subtotal = 0;
        var total = 0;
        var iva = 0;
        $('#tablaDetalles tr').each(function () {
            if (i != 1) {
                var Ccantidad = parseFloat($('#tablaDetalles tr:nth-child(' + i + ') td:nth-child(2) p').text().trim());
                var Cprecio = parseFloat($('#tablaDetalles tr:nth-child(' + i + ') td:nth-child(3) p').text().trim());
                var Ctotal = Ccantidad * Cprecio;
                $('#tablaDetalles tr:nth-child(' + i + ') td:nth-child(4) p').html(Ctotal);
                console.log("Fila #" + i + " con un total " + Ctotal);

                subtotal = subtotal + Ctotal;
            }
            i++;
        });


    }
</script>
<p>
    @Html.ActionLink("Regresar al listado", "Index")
</p>
