﻿@model IEnumerable<Papeleria.Models.Recibo>

@{
    ViewBag.Title = "Recibos";
}

<div>
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Recibos</h6>
            @Html.ActionLink("Crear nuevo recibo", "Create")

        </div>
        <!-- Card Body -->
        <div class="card-body">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </th>

                    <th></th>
                    <th style="width:100px"></th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.ReciboId }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.ReciboId })
                        </td>
                        <td style="width:180px">
                            @if (item.Facturas.Count > 0)
                            {
                                <button class="btn btn-dark" onclick="location.href = '/Facturas/Details/@item.Facturas.First().FacturaId'">
                                    Ver factura
                                </button>
                            } else
                            {
                                <button class="btn btn-primary" onclick="facturar(@item.ReciboId)">
                                Facturar
                            </button>

                            }
                                
                            




                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
    <script type="text/javascript">
        async function facturar(recibo) {
            const { value: formValues } = await Swal.fire({
                title: 'Datos del adquiriente',
                html:
                    ' <input id="nombre" class="swal2-input" placeholder="Nombre completo ">' +
                    '<input id="rfc" class="swal2-input" placeholder="RFC ">' +
                    '<input id="direccion" class="swal2-input" placeholder="Direccion ">' +
                    '<input id="telefono" class="swal2-input" placeholder="Telefono">',
                focusConfirm: false,
                preConfirm: () => {

                    $.ajax({
                        url: '/Recibos/AgregarFactura',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            reciboId: recibo,
                            nombre: document.getElementById('nombre').value,
                            rfc: document.getElementById('rfc').value,
                            direccion: document.getElementById('direccion').value,
                            telefono: document.getElementById('telefono').value,
                            cache: false,
                            success: function (result) {
                                console.log(result);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {

                            }
                        }
                    }).done(function (result) {
                        if (result.bien == "no") {
                            swal.fire("Error", "error")
                        } else {
                            window.location.replace("/Facturas/Details/" + result.facturaId);

                        }
                    })


                 
                }
            })

            if (formValues) {
                console.log(JSON.stringify(formValues[0]))
            }
        }

    </script>
</div>

