﻿@model IEnumerable<Papeleria.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Crear nuevo producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDeBarras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoria.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CodigoDeBarras)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
   
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ProductoId }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.ProductoId }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoId })
    </td>
</tr>
}

</table>
