﻿@model IEnumerable<Papeleria.Models.Categoria>

@{
    ViewBag.Title = "Categorías";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoriaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoriaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoriaId })
        </td>
    </tr>
}

</table>
